body 
{
	background-color: #000000;
	margin: auto;
	overflow: hidden;
	heigth: 100%;
	width: 100%;
}

#SimulatorTop {
 position:relative;
 top:0px;
 left:0px;
 background-color: #ffffff;
 height:60px;
}

#SimulatorBottom {
 position:relative;
 top:0px;
 left:0px;
 background-color: #ff0000;
 height:60px;
}