/.project
/.settings/
/bin/
/.classpath
/gen/
*~
/assets/www/js/myThree.js~
/assets/www/js/mySprites2.js~
/assets/www/js/mySprites.js~
/assets/www/js/three.ext.js~
/assets/www/index.html~
/assets/www/functions.js~
/assets/www/init.js~
/assets/www/update.js~
/assets/www/js/OrbitControls.js~
/assets/www/js/TrackballControls.js~
/assets/www/modules/angles.js~
/assets/www/modules/earth.js~
/assets/www/modules/sun.js~
/assets/www/modules/view.js~
/assets/www/modules/scene.js~
/assets/www/css/base.css~
/assets/www/interface.js~
/assets/www/attitude/css/base.css~
/assets/www/attitude/earth.html~
/assets/www/attitude/extensions/threex.planets.js~
/assets/www/attitude/functions.js~
/assets/www/attitude/index.html~
/assets/www/attitude/index_orbit.html~
/assets/www/attitude/init.js~
/assets/www/attitude/init_orbit.js~
/assets/www/attitude/interface.js~
/assets/www/attitude/interface_orbit.js~
/assets/www/attitude/js/mySprites_orbit.js~
/assets/www/attitude/js/three.ext.js~
/assets/www/attitude/js/TrackballControls.js~
/assets/www/attitude/modules/angles.js~
/assets/www/attitude/modules/earth.js~
/assets/www/attitude/modules/scene.js~
/assets/www/attitude/modules/scene_orbit.js~
/assets/www/attitude/modules/sun.js~
/assets/www/attitude/modules/view.js~
/assets/www/attitude/update.js~
/assets/www/attitude/update_orbit.js~
/assets/www/attitude/functions.js~
/assets/www/attitude/index.html~
/assets/www/attitude/init.js~
/assets/www/attitude/interface.js~
/assets/www/attitude/js/three.ext.js~
/assets/www/attitude/js/TrackballControls.js~
/assets/www/attitude/modules/angles.js~
/assets/www/attitude/modules/earth.js~
/assets/www/attitude/modules/scene.js~
/assets/www/attitude/modules/sun.js~
/assets/www/attitude/modules/view.js~
/assets/www/attitude/update.js~
/assets/www/attitude/viewFuncs.js~
/assets/www/attitude/css/base.css~
/assets/www/attitude/functions.js~
/assets/www/attitude/index.html~
/assets/www/attitude/init.js~
/assets/www/attitude/interface.js~
/assets/www/attitude/js/three.ext.js~
/assets/www/attitude/js/TrackballControls.js~
/assets/www/attitude/modules/angles.js~
/assets/www/attitude/modules/earth.js~
/assets/www/attitude/modules/scene.js~
/assets/www/attitude/modules/sun.js~
/assets/www/attitude/modules/view.js~
/assets/www/attitude/update.js~
/assets/www/attitude/viewFuncs.js~
/assets/www/attitude/earth.html~
/assets/www/attitude/extensions/threex.planets.js~
/assets/www/attitude/index_orbit.html~
/assets/www/attitude/init_orbit.js~
/assets/www/attitude/interface_orbit.js~
/assets/www/attitude/js/mySprites_orbit.js~
/assets/www/attitude/modules/scene_orbit.js~
/assets/www/attitude/update_orbit.js~
/assets/www/huds/css/base.css~
/assets/www/huds/extensions/threex.planets.js~
/assets/www/huds/functions.js~
/assets/www/huds/index.html~
/assets/www/huds/index_orbit.html~
/assets/www/huds/init.js~
/assets/www/huds/interface.js~
/assets/www/huds/interface_orbit.js~
/assets/www/huds/js/mySprites_orbit.js~
/assets/www/huds/js/three.ext.js~
/assets/www/huds/js/TrackballControls.js~
/assets/www/huds/modules/angles.js~
/assets/www/huds/modules/earth.js~
/assets/www/huds/modules/indicators.js~
/assets/www/huds/modules/scene.js~
/assets/www/huds/modules/sun.js~
/assets/www/huds/modules/view.js~
/assets/www/huds/update.js~
/assets/www/huds/viewFuncs.js~
