/.project
/.settings/
/bin/
/.classpath
/gen/
/assets/www/js/myThree.js~
/assets/www/js/mySprites2.js~
/assets/www/js/mySprites.js~
/assets/www/js/three.ext.js~
/assets/www/index.html~
/assets/www/functions.js~
/assets/www/init.js~
/assets/www/update.js~
/assets/www/js/OrbitControls.js~
/assets/www/js/TrackballControls.js~
/assets/www/modules/angles.js~
/assets/www/modules/earth.js~
/assets/www/modules/sun.js~
/assets/www/modules/view.js~
/assets/www/modules/scene.js~
/assets/www/css/base.css~
/assets/www/interface.js~
