
body {
/*	
	margin: 10px;
	padding: 10px;
*/	
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #ff00ee;
	text-align:center;
}

#space {
	border: 1px solid #5CB3FF;
}


