Body{
	background-color: #ffffff;
	margin: auto;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
#DivAttitude{
	position: absolute;
	background-color:black;  
	overflow: hidden;
}
.AttitudeToMiniature{
    -webkit-transition: width 0.5s ease, height 0.2s ease;
    -moz-transition: width 0.5s ease, height 0.2s ease;
    -ms-transition: width 0.5s ease, height 0.2s ease;
    -o-transition: width 0.5s ease, height 0.2s ease;
    transition: width 0.5s ease, height 0.2s ease;
}
.AttitudeToCurrent{
}
#DivOrbit{
	position: absolute;
	background-color:green;  
	overflow: hidden;
}
.OrbitToMiniature{
    -webkit-transition: width 0.5s ease, height 0.2s ease;
    -moz-transition: width 0.5s ease, height 0.2s ease;
    -ms-transition: width 0.5s ease, height 0.2s ease;
    -o-transition: width 0.5s ease, height 0.2s ease;
    transition: width 0.5s ease, height 0.2s ease;
}
.OrbitToCurrent{
}
#DivMap{
	position: absolute;
	background-color:blue;  
	overflow: hidden;
}
.MapToMiniature{
    -webkit-transition: width 0.5s ease, height 0.2s ease;
    -moz-transition: width 0.5s ease, height 0.2s ease;
    -ms-transition: width 0.5s ease, height 0.2s ease;
    -o-transition: width 0.5s ease, height 0.2s ease;
    transition: width 0.5s ease, height 0.2s ease;
}
.MapToCurrent{
}