
.olControlAttribution {
	position      : absolute;
	font-size     : 10px;
	bottom        : 0 !important;
	right         : 0 !important;
	background    : rgba(0,0,0,0.1);
	font-family   : Arial;
	padding       : 2px 4px;
	border-radius : 5px 0 0 0;
}
#title, #tags, #shortdesc {
	display: none;
}