#MissionsListButton{
	position: relative;
	height: 20px;
	padding-top: 3px;
	padding-bottom: 5px;
	width: auto;
	background-color: black;
	vertical-align:middle;
}
#MissionsListClose{
	display:inline-block;
	height: 47px;
	margin-top: 6px;
	margin-bottom: 6px;
	width: auto;
	float: right;
	vertical-align:middle;
	line-height: 69px;
}

#DivMissions{
	position: absolute;
	left: -300px;
	bottom: 70px;
	background-color: rgba(200, 200, 200, 0.7);
	width: 300px;
	max-width: 90%;
	height: calc(100% - 70px);
    border-radius: 0px 5px 5px 0px;
	z-index: 9999;
	/*box-shadow: 1px 1px 8px #999999;*/
}

#TitleMissions{
	text-align: center;
}

#ListMissions{
	position: relative;
	/*margin-left: 20px;
	margin-right: 20px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	width: calc(100%);
	height: calc(100% - 134px);
	background-color: rgba(220, 220, 220, 0.7);
}

#olListMissions{
	height: 100%;
	max-height: 100%;
	overflow: auto;
}

#MissionsMenu{
	display: inline-block;
	position: relative;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	height: 30px;
	background-color: rgba(220, 220, 220, 0.7);
	border-radius: 2px 2px 4px 2px;
	box-shadow: 1px -1px 4px #000;
	/*box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;*/
}
.MissionsMenuItem{
	display: inline-block;
	width: calc(25% - 3px);
	height: 100%;
	text-align: center;
}

.MissionsMenuButton{
	height: 20px;
	padding: 5px;
	width: auto;
}