#DivToolbar{
    display: block;
    vertical-align: middle;
	position: absolute;
	margin: 0;
	left: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
    border-radius: 0px 10px 0px 0px;
	width: 75%;
	min-width: 20%;
	max-width: 75%;
	z-index: 1500;
	background-color:rgba(255, 255, 255, 0.32);
	box-shadow: 2px -2px 6px #333;
}
.SimControl{
	position: relative;
	width: 20px;
	height: 20px;
	/*margin: 0 0 5px 5px;*/
	margin-left: 5px;
	padding: 2px;
	vertical-align:middle;
	background-color: black;
    border-radius: 5px;
}
.SimControlLeft{
	position: relative;
	width: 15px;
	height: 15px;
	margin: 5px 0 5px 0;
	padding: 2px;
	vertical-align:middle;
	background-color: white;
    border-radius: 5px 0 0 5px;
}
.SimControlRight{
	position: relative;
	width: 15px;
	height: 15px;
	margin: 5px 0 5px 0;
	padding: 2px;
	vertical-align:middle;
	background-color: white;
    border-radius: 0 5px 5px 0;
}
#TimeBar{
	position: relative;
	width: calc(100% - 195px);
	min-width: 50px;
	vertical-align:middle;
}
#DivClock{
	position: absolute;
	margin: 0;
	/*padding: 0.1%;*/
	left: 0;
	bottom: 30px;
	
	
    display: block;
    vertical-align: middle;
	position: absolute;
	height: 30px;
	line-height: 30px;
	
    border-radius: 0px 10px 0px 0px;
	border: 5px solid rgba(255, 255, 255, 0.32);
	width: auto;
	z-index: 1000;
	background-color:rgba(0, 0, 0, 1.00);
	box-shadow: 2px -2px 6px #333;
	color: white;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000099;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}