/* Dialog */
#DivDialogBackground{
	display: none;
	z-index: 25000;
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.7);
}

#DivDialog{
	position: absolute;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate3d(-50%, -50%, 0);
	background-color:rgba(255, 255, 255, 0.85);
	padding:10px;
	width: 250px;
	max-width: 90%;
	height: auto;
	max-height: 90%;
	border-radius: 10px;
	overflow: auto;
	box-shadow: 1px -1px 6px #333;
}
#DivDialogTitle{
	text-align: center;
	line-height: 36px;
}
#DialogCloseButton{
	position: relative;
	height: 40px;
	width: 40px;
	padding: 3px;
	top: 0;
	right: 0;
	float:right;
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/ok.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}

#DialogCloseButton:active{
	background-image:  url(../icons/ok_h.png);
}

#DialogCancelButton{
	position: relative;
	height: 40px;
	width: 40px;
	padding: 3px;
	top: 0;
	right: 0;
	float:right;
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/cancel.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}

#DialogCancelButton:active{
	background-image:  url(../icons/cancel_h.png);
}

#DialogConfirmButton{
	position: relative;
	height: 40px;
	width: 40px;
	padding: 3px;
	top: 0;
	left: 0px;
	float:left;
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/confirm.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}

#DialogConfirmButton:active{
	background-image:  url(../icons/confirm_h.png);
}