#SelectMissionButton{
	background-color:transparent;	
	background-image:  url(../icons/select.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
	height: 25px;
	/*width: 26px;*/
	margin: 5px;
	/*text-align: center;*/
}
.MissionField{
	padding: 2px 0px 2px 10px;
    border: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}

#MissionsListButton{
	position: absolute;
	bottom: 75px;
	left: 0px;
	height: 70px;
	z-index: 1000; 
	width: 60px;
	margin: 0px;
	/*margin-left: 2px;
	padding-top: 1px;
	padding-bottom: 3px;
	vertical-align:middle;*/
	background-color:transparent;	
	background-image:  url(../icons/list.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
#MissionsListClose{
	display:inline-block;
	height: 47px;
	margin-top: 6px;
	margin-bottom: 6px;
	width: auto;
	float: right;
	vertical-align:middle;
	line-height: 69px;
}

#DivMissions{
	position: absolute;
	left: -300px;
	bottom: 70px;
	background-color: rgba(200, 200, 200, 0.7);
	width: 300px;
	max-width: 90%;
	height: calc(100% - 70px);
    border-radius: 0px 5px 5px 0px;
	z-index: 9999;
	/*box-shadow: 1px 1px 8px #999999;*/
}

#DivMissions.open{
	-webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
	
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#DivMissions.close{
	/*-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);*/
	
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#TitleMissions{
	text-align: center;
}

#ListMissions{
	position: relative;
	/*margin-left: 20px;
	margin-right: 20px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	width: calc(100%);
	height: calc(100% - 134px);
	background-color: rgba(220, 220, 220, 0.7);
}

#olListMissions{
	height: 100%;
	max-height: 100%;
	overflow: auto;
	line-height: 1em;
}

#MissionsMenu{
	display: inline-block;
	position: relative;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	height: 35px;
	background-color: rgba(220, 220, 220, 0.7);
	border-radius: 2px 2px 4px 2px;
	box-shadow: 1px -1px 4px #000;
	/*box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;*/
}
.MissionsMenuItem{
	display: inline-block;
	width: calc(25% - 0px);
	height: 100%;
	text-align: center;
	float: left;
}
.MissionsMenuItem:active{
	background-color: rgba(0, 0, 0, 0.7);
}

.MissionsMenuButton{
	height: 25px;
	padding: 5px;
	width: auto;
}

.MissionNormal{
	/*-moz-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	-webkit-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	box-shadow:inset 0px 1px 0px 0px #BBBBBB;*/
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	/*font-family:arial;*/
	font-size:15px;
	font-weight:bold;
	/*padding:6px 24px;*/
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-top: 2px;
	margin-bottom: 2px;
}
.MissionActive{
	/*-moz-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	-webkit-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	box-shadow:inset 0px 1px 3px 0px #BBBBBB;*/
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #474747;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	/*font-family:arial;*/
	font-size:15px;
	font-weight:bold;
	/*padding:6px 24px;*/
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	box-shadow: 1px -1px 1px #666;
	margin-top: 2px;
	margin-bottom: 2px;
}
.MissionSelected{
	-moz-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	-webkit-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8c8c8c), color-stop(1, #777777));
	background:-moz-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:-webkit-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:-o-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:-ms-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:linear-gradient(to bottom, #8c8c8c 5%, #777777 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#777777',GradientType=0);
	background-color:#8c8c8c;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/*font-family:arial;*/
	font-size:15px;
	/*padding:4px 9px;*/
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	margin-top: 2px;
	margin-bottom: 2px;
}
.MissionActiveSelected{
	-moz-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	-webkit-box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	box-shadow:inset 0px 1px 3px 0px #BBBBBB;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8c8c8c), color-stop(1, #777777));
	background:-moz-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:-webkit-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:-o-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:-ms-linear-gradient(top, #8c8c8c 5%, #777777 100%);
	background:linear-gradient(to bottom, #8c8c8c 5%, #777777 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#777777',GradientType=0);
	background-color:#8c8c8c;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #474747;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/*font-family:arial;*/
	font-size:15px;
	/*padding:4px 9px;*/
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	box-shadow: 1px -1px 1px #666;
	margin-top: 2px;
	margin-bottom: 2px;
}

#MissionEditorBackground{
	display: none;
	z-index: 20000;
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.7);
}
#MissionEditor{
	position: absolute;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	background-color:rgba(255, 255, 255, 0.85);
	padding:10px;
	width: 400px;
	max-width: 90%;
	height: 550px;
	max-height: 80%;
	border-radius: 20px;
	/*overflow: auto;*/
}
#MissionEditorContent{
	position: relative;
	width: 100%;
	/*height: 450px;*/
	max-height: calc(100% - 100px);
	overflow: auto;
}

#MissionCloseButton{
	position: relative;
	height: 50px;
	width: 50px;
	top: 0;
	right: 0;
	float:right;
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/cancel.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}

#MissionCloseButton:active{
	background-image:  url(../icons/cancel_h.png);
}

#MissionConfirmButton{
	position: relative;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	top: 0;
	right: 0px;
	float:right;
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/confirm.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}

#MissionConfirmButton:active{
	background-image:  url(../icons/confirm_h.png);
}