.ViewMenuLoading{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.5);
	z-index: 1001;
}

.closeVisMenu{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	
}
.openVisMenu{
	-webkit-transform: translate3d(calc(-100% - 50px), 0, 0);
    transform: translate3d(calc(-100% - 50px), 0, 0);
	
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.MenuField{
	padding: 2px 0px 2px 10px;
    border: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}
.MenuColorField{
	padding: 2px 0px 2px 10px;
    border: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;*/
    -webkit-background-clip: padding-box;
    outline: 0;
}

.tabContainer {
	display: block;
	position: absolute;
	z-index: 1000;
	right: -470px;
	top: 20px;
	width:400px;
	max-width: 90%;
	height: calc(100% - 90px);
	padding: 0 10px 10px 10px;
	/*background-color:#2e2e2e;*/
	background-color: rgba(50, 50, 50, 0.5);
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

.tabs{
	height:auto;
	overflow:hidden;
}

.tabs > ul{
	font: 1em;
	list-style:none;
}

.tabs > ul > li{
	font-family: Stavor, Helvetica, Verdana, Sans-Serif;
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #555555 0%, #888888 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#888888)); /* webkit */
}

.tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabs > ul > li.tabActiveHeader{
	background: #DDDDDD; /* old browsers */
	background: -moz-linear-gradient(top, #DDDDDD 0%, #F3F3F3 10%, #F3F3F3 50%, #DDDDDD 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDDDD), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#DDDDDD)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	/*background: #FFFFFF; 
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed));
	*/
	background: #DDDDDD; 
	background: -moz-linear-gradient(top, #DDDDDD 0%, #DDDDDD 90%, #999999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDDDD), color-stop(90%,#DDDDDD), color-stop(100%,#999999));
	
	margin:0;
	color:#333;
	
	position: relative;
	max-height: calc(100% - 100px);
	overflow: auto;
}