#DivToolbar{
    display: block;
    vertical-align: middle;
	position: absolute;
	margin: 0;
	left: 0;
	bottom: 0;
	height: 40px;
	line-height: 40px;
    border-radius: 0px 10px 0px 0px;
	width: 75%;
	min-width: 20%;
	max-width: 75%;
	z-index: 1500;
	background-color:rgba(150, 150, 150, 0.32);
	box-shadow: 2px -2px 3px #333;
}
#AccelButton{
	background-image:  url(../icons/accelerate.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
#SlowButton{
	background-image:  url(../icons/slow.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
#AccelButton:active{
	background-image:  url(../icons/accelerate_d.png)!important;
}
#SlowButton:active{
	background-image:  url(../icons/slow_d.png)!important;
}
#AccelButton.disabled{
	background-image:  url(../icons/accelerate_d.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: default;
	background-color:rgba(0, 0, 0, 0.5) !important;
}
#SlowButton.disabled{
	background-image:  url(../icons/slow_d.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: default;
	background-color:rgba(0, 0, 0, 0.5) !important;
}
.SimPlay{
	background-image:  url(../icons/play.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
.SimPlayDisabled{
	background-image:  url(../icons/play_d.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center;
	background-color:rgba(0, 0, 0, 0.5) !important;
}
.SimPause{
	background-image:  url(../icons/pause.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
.SimStopEnabled{
	background-image:  url(../icons/stop.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
.SimStopDisabled{
	background-image:  url(../icons/stop_d.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	background-color:rgba(0, 0, 0, 0.5) !important;
}
#StopButton:active{
	background-image:  url(../icons/stop_d.png)!important;
}
#PlayButton:active{
	background-image:  url(../icons/play_d.png)!important;
}
.SimControl{
	position: relative;
	float: left;
	width: 34px;
	height: 34px;
	/*margin: 0 0 5px 5px;*/
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 0px;
	vertical-align:middle;
	background-color: #cccccc;
    border-radius: 5px;
	box-shadow: 1px -1px 2px #000;
}
.SimControlLeft{
	float: left;
	position: relative;
	width: 34px;
	height: 34px;
	margin: 3px 2px 3px 5px;
	padding: 0px;
	vertical-align:middle;
	background-color: #cccccc;
    border-radius: 5px 0 0 5px;
	box-shadow: 1px -1px 2px #000;
}
.SimControlRight{
	float: left;
	position: relative;
	width: 34px;
	height: 34px;
	margin: 3px 5px 3px 2px;
	padding: 0px;
	vertical-align:middle;
	background-color: #cccccc;
    border-radius: 0 5px 5px 0;
	box-shadow: 1px -1px 2px #000;
}
#ReverseButton{
	background-image:  url(../icons/reverse.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
#ForwardButton{
	background-image:  url(../icons/forward.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
#ReverseButton.active{
	background-image:  url(../icons/reverse_a.png);
}
#ForwardButton.active{
	background-image:  url(../icons/forward_a.png);
}
#ReverseButton.active.disabled{
	background-image:  url(../icons/reverse_ad.png);
	background-color:rgba(0, 0, 0, 0.5) !important;
}
#ForwardButton.active.disabled{
	background-image:  url(../icons/forward_ad.png);
	background-color:rgba(0, 0, 0, 0.5) !important;
}
#ReverseButton.disabled{
	background-image:  url(../icons/reverse_d.png);
	background-color:rgba(0, 0, 0, 0.5) !important;
}
#ForwardButton.disabled{
	background-image:  url(../icons/forward_d.png);
	background-color:rgba(0, 0, 0, 0.5) !important;
}
#TimeBar{
	position: relative;
	width: calc(100% - 255px);
	min-width: 50px;
	float: left;
	vertical-align:middle;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 18px;
}
#DivClock{
	position: absolute;
	margin: 0;
	/*padding: 0.1%;*/
	left: 0;
	bottom: 40px;
	
	
    display: block;
    vertical-align: middle;
	position: absolute;
	height: 30px;
	line-height: 30px;
	
    border-radius: 0px 10px 0px 0px;
	/*border: 5px solid rgba(255, 255, 255, 0.32);*/
	width: auto;
	z-index: 1000;
	background-color: #111;
	box-shadow: 1px -1px 6px #333;
	color: white;
}

#SimTime{
	position: relative;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

input[type=range].SimRangeDisabled::-webkit-slider-runnable-track{
    background: #111 !important;
}

input[type=range].SimRangeDisabled::-webkit-slider-thumb{
    background: #666666 !important;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #888;
    border: none;
    border-radius: 0px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: #DDDDDD;
    margin-top: -11px;
	box-shadow: 1px -1px 2px #000;
	cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #888;
}
input[type=range]:focus {
    outline: none;
}
