.ViewTypeMenu{
	position: absolute;
	left: 50px;
	top: 50px;
	background-color: rgba(255, 255, 255, 0.3);
	min-width: 20px;
	border-radius: 10px;
	border: 5px solid rgba(90, 90, 90, 0.3);
	
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ViewTypeMenuClosed{
	-webkit-transform: translate3d(0, calc(-100% - 50px), 0);
    transform: translate3d(0, calc(-100% - 50px), 0);
}

.ViewTypeMenuOpen{
}

#AttitudeViewTypeMenu{
	max-height: calc(100% - 140px);
	overflow-y: auto;
	overflow-x: hidden;
	
}

.ViewButton{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0;
	left: 52px;
	/*z-index: 499; */
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/view.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}

.ViewButton:active{
	background-image:  url(../icons/view_h.png);
}
.ViewButton.opened{
	background-image:  url(../icons/view_expanded.png);
}
.ViewButtonLocked{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0;
	left: 52px;
	/*z-index: 499; */
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/view_locked.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}
.ViewButtonUnlocked{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0;
	left: 52px;
	/*z-index: 499; */
	overflow: hidden; 
	background-color:transparent;	
	background-image:  url(../icons/view_unlocked.png);
	background-size:   contain;                      /* <------ cover/contain */
    background-repeat: no-repeat;
    background-position: center center; 
	cursor: pointer;
}

.ViewTypeGroup{
	border-radius: 5px;
	background-color: rgba(230, 230, 230, 0.7);
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	width: 150px;
}

.ViewTypeButtonWrapper{
	display: inline-block;
	width: 100%;
}

.ViewTypeButton{
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(100, 100, 100, 0.5);
	padding: 5px;
	margin: 2px;
	border: 1px solid #333;
	width: calc(50% - 16px);
	/*float: left;*/
	left: 0;
	cursor: pointer;
	box-shadow: 1px -1px 2px #000;
	font-family: Stavor, Helvetica, Verdana, Sans-Serif;
	font-size: 0.7em;
}

.ViewTypeButton.selected{
	background-color: rgba(50, 50, 50, 0.5);
	border: 1px solid #333;
	color: #ddd;
	
	-moz-box-shadow:inset 0px 1px 3px 0px #000;
	-webkit-box-shadow:inset 0px 1px 3px 0px #000;
	box-shadow:inset 0px 1px 3px 0px #000;
}

.TitleViewTypes{
	text-align: center;
}